<a href="https://colab.research.google.com/github/shashankkanthula/Python-basics/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
print("Data Types")

Data Types

In [89]:
num1=1
print(type(num1))
num2=2.0
print(type(num2))
num3=" "
print(type(num3))
num1=[1,2,3]
print(type(num1))
num2=(1,2,3)
print(type(num2))
num3={1,2,3}
print(type(num3))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

Conversions

In [90]:
a=1
b=2.98
c=5j

print(type(a))
print(type(b))
print(type(c))

x=float(a)
y=int(b)
z=complex(a)

print((x))
print((y))
print((z))

<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2
(1+0j)

Dictionary

In [91]:
dict={1:"one",2:"two",3:"three"}
print(type(dict))
print(dict[1])
print(dict.get(2))
print(dict.keys())
print(dict.values())
print(dict.items())

<class 'dict'>
one
two
dict_keys([1, 2, 3])
dict_values(['one', 'two', 'three'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

Operators
  Arithmetic

In [92]:
num1=5
num2=10
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1%num2)
print(num1**num2)
print(num1//num2)

15
-5
50
0.5
5
9765625
0

Assignment Operators

In [93]:
num1=10
print(num1)
num1+=5
print(num1)
num1-=5
print(num1)
num1*=5
print(num1)
num1/=5
print(num1)
num1%=5
print(num1)

10
15
10
50
10.0
0.0

Comparison Operator

In [94]:
num1=5
num2=8
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)

False
True
False
True
False
True

Logical

In [95]:
num1=10
print(num1>20 and num1>5)
print(num1>20 or num1>5)
print(not(num1>8 and num1>5))

False
True
False

Identity

In [96]:
a=["apple","banana"]
b=["apple","banana"]
c=a
print(a is c)
print(a is b)
print(a==b)

True
False
True

Bitwise

In [97]:
num1=10
num2=4
print(num1&num2)
print(num1|num2)
print(num1^num2)
print(~num2)
print(num1<<2)
print(num1>>2)

0
14
14
-5
40
2

***Strings***

In [98]:
print('bablu')
print("bablu")
print("""bablu""")

a="String bablu"
print(a)

b="""myself shashank,
from st martins"""
print(b)

bablu
bablu
bablu
String bablu
myself shashank,
from st martins

slicing

In [99]:
b="Arrangement of indexing examples"
print(b[2:5]) #we define (last indexing is not included)
print(b[:5])  #from start
print(b[2:])  #from end
print(b[-5:-2]) #negative indexing

ran
Arran
rangement of indexing examples
mpl

modify strings

In [100]:
a="    Bablu , b"
print(a.upper())
print(a.lower())
print(a.strip()) #removes whitespace at beg or end
print(a.replace("b","k")) #camelcase also sensitive
print(a.split(","))

    BABLU , B
    bablu , b
Bablu , b
    Baklu , k
['    Bablu ', ' b']

String concat

In [101]:
a="bablu"
b='b'
c=a+" "+b  #if space is needed
print(c)

bablu b

format strings

In [102]:
name = "bablu"
print(f"my name is {name}")

my name is bablu

# **Lists**

In [103]:
list1=['apple','banana','camel']
list2=['dog','cat']
list2.insert(1,'fish')
print(list1)
print(len(list1))
print(type(list1))
print(list1[1])
print(list1[-1])
print(list1[2:3])
print(list1[-3:-1])
print(list1[1:])
print(list1[:2])

print(list2)

['apple', 'banana', 'camel']
3
<class 'list'>
banana
camel
['camel']
['apple', 'banana']
['banana', 'camel']
['apple', 'banana']
['dog', 'fish', 'cat']

**Tuples**

In [104]:
tuple= ("apple","banana","cherry")
print(tuple)
print(len(tuple))
print(type(tuple))
print(tuple[1])
print(tuple[-1])
print(tuple[1:])
print(tuple[:2])

#unpacking
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

#multiply tuples
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1 + tuple2
print(tuple3)

('apple', 'banana', 'cherry')
3
<class 'tuple'>
banana
cherry
('banana', 'cherry')
('apple', 'banana')
apple
banana
cherry
('a', 'b', 'c', 1, 2, 3)

**Sets**

In [105]:
set = {"apple", "banana", "cherry"}
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
thisset.update(["orange", "mango", "grapes"])
print(thisset)
thisset.remove("banana")
print(thisset)
print(set)
print(len(set))
print(type(set))
print()

{'cherry', 'banana', 'orange', 'apple'}
{'cherry', 'orange', 'mango', 'grapes', 'apple', 'banana'}
{'cherry', 'orange', 'mango', 'grapes', 'apple'}
{'cherry', 'banana', 'apple'}
3
<class 'set'>

**Dictionaries**

In [106]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
thisdict["color"] = "red"
thisdict.update({"color": "blue"})
thisdict["year"]=2018
print(thisdict)
print(thisdict["brand"])
print(thisdict.keys())
print(thisdict.values())
print(thisdict.items())

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'blue'}
Ford
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 2018, 'blue'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018), ('color', 'blue')])

**If-Else**

In [107]:
#if,elif,else
score = 75
if score >= 90 and score<=100:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")
else:
  print("Grade: F")

#logical operators
username = "Tobias"
password = "secret123"
is_verified = True

if username and password and is_verified:
  print("Login successful")
else:
  print("Login failed")

#nested if
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Grade: C
Login successful
Above ten,
and also above 20!

While Loops

In [108]:
num1=10
while num1<13:
  print(num1)
  num1+=1

#break word
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

10
11
12
1
2
3

# for loops

In [109]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)


fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

apple
banana
cherry
apple
banana
apple
cherry
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

In [110]:
def bablu():
  print("bablu")
bablu()

def fahrenheit_to_celsius(fahrenheit):
  return (fahrenheit - 32) * 5 / 9
print(fahrenheit_to_celsius(77))
print(fahrenheit_to_celsius(95))
print(fahrenheit_to_celsius(50))

def get_greeting():
  return "Hello from a function"
message = get_greeting()
print(message)

def my_function(fname):
  print(fname + " Refsnes")
my_function("Emil")
my_function("Tobias")
my_function("Linus")

def my_function(name): # name is a parameter
  print("Hello", name)
my_function("Emil") # "Emil" is an argument

def my_function(fname, lname):
  print(fname + " " + lname)
my_function("Emil", "Refsnes")

def my_function(name = "friend"):
  print("Hello", name)
my_function("Emil")
my_function("Tobias")
my_function()
my_function("Linus")

def my_function(country = "Norway"):
  print("I am from", country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)
my_function(animal = "dog", name = "Buddy")

def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)
my_function(name = "Buddy", animal = "dog")

def my_function(animal, name, age):
  print("I have a", age, "year old", animal, "named", name)
my_function("dog", name = "Buddy", age = 5)

def my_function(fruits):
  for fruit in fruits:
    print(fruit)
my_fruits = ["apple", "banana", "cherry"]
my_function(my_fruits)

def my_function(x, y):
  return x + y
result = my_function(5, 3)
print(result)

bablu
25.0
35.0
10.0
Hello from a function
Emil Refsnes
Tobias Refsnes
Linus Refsnes
Hello Emil
Emil Refsnes
Hello Emil
Hello Tobias
Hello friend
Hello Linus
I am from Sweden
I am from India
I am from Norway
I am from Brazil
I have a dog
My dog's name is Buddy
I have a dog
My dog's name is Buddy
I have a 5 year old dog named Buddy
apple
banana
cherry
8

# **OOPS Concepts**

In [5]:
class myclass:
  x=10
p1 = myclass()
print(p1.x)

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)
print(p1.name)
print(p1.age)

class Person:
  def __init__(myobject, name, age):
    myobject.name = name
    myobject.age = age

  def greet(abc):
    print("Hello, my name is " + abc.name)

p1 = Person("Emil", 36)
p1.greet()

class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

car1 = Car("Toyota", "Corolla")

print(car1.brand)
print(car1.model)

10
John
36
Hello, my name is Emil
Toyota
Corolla