<a href="https://colab.research.google.com/github/shashankkanthula/Python-basics/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Data Types")

Data Types

In [ ]:
num1=1
print(type(num1))
num2=2.0
print(type(num2))
num3=" "
print(type(num3))
num1=[1,2,3]
print(type(num1))
num2=(1,2,3)
print(type(num2))
num3={1,2,3}
print(type(num3))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

Conversions

In [ ]:
a=1
b=2.98
c=5j

print(type(a))
print(type(b))
print(type(c))

x=float(a)
y=int(b)
z=complex(a)

print((x))
print((y))
print((z))

<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2
(1+0j)

Dictionary

In [ ]:
dict={1:"one",2:"two",3:"three"}
print(type(dict))
print(dict[1])
print(dict.get(2))
print(dict.keys())
print(dict.values())
print(dict.items())

<class 'dict'>
one
two
dict_keys([1, 2, 3])
dict_values(['one', 'two', 'three'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

Operators
  Arithmetic

In [ ]:
num1=5
num2=10
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1%num2)
print(num1**num2)
print(num1//num2)

15
-5
50
0.5
5
9765625
0

Assignment Operators

In [ ]:
num1=10
print(num1)
num1+=5
print(num1)
num1-=5
print(num1)
num1*=5
print(num1)
num1/=5
print(num1)
num1%=5
print(num1)

10
15
10
50
10.0
0.0

Comparison Operator

In [ ]:
num1=5
num2=8
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)

False
True
False
True
False
True

Logical

In [ ]:
num1=10
print(num1>20 and num1>5)
print(num1>20 or num1>5)
print(not(num1>8 and num1>5))

False
True
False

Identity

In [ ]:
a=["apple","banana"]
b=["apple","banana"]
c=a
print(a is c)
print(a is b)
print(a==b)

True
False
True

Bitwise

In [ ]:
num1=10
num2=4
print(num1&num2)
print(num1|num2)
print(num1^num2)
print(~num2)
print(num1<<2)
print(num1>>2)

0
14
14
-5
40
2

***Strings***

In [ ]:
print('bablu')
print("bablu")
print("""bablu""")

a="String bablu"
print(a)

b="""myself shashank,
from st martins"""
print(b)

bablu
bablu
bablu
String bablu
myself shashank,
from st martins

slicing

In [ ]:
b="Arrangement of indexing examples"
print(b[2:5]) #we define (last indexing is not included)
print(b[:5])  #from start
print(b[2:])  #from end
print(b[-5:-2]) #negative indexing

ran
Arran
rangement of indexing examples
mpl

modify strings

In [ ]:
a="    Bablu , b"
print(a.upper())
print(a.lower())
print(a.strip()) #removes whitespace at beg or end
print(a.replace("b","k")) #camelcase also sensitive
print(a.split(","))

    BABLU , B
    bablu , b
Bablu , b
    Baklu , k
['    Bablu ', ' b']

String concat

In [ ]:
a="bablu"
b='b'
c=a+" "+b  #if space is needed
print(c)

bablu b

format strings

In [ ]:
name = "bablu"
print(f"my name is {name}")

my name is bablu

# **Lists**

In [11]:
list1=['apple','banana','camel']
list2=['dog','cat']
list2.insert(1,'fish')
print(list1)
print(len(list1))
print(type(list1))
print(list1[1])
print(list1[-1])
print(list1[2:3])
print(list1[-3:-1])
print(list1[1:])
print(list1[:2])

print(list2)

['apple', 'banana', 'camel']
3
<class 'list'>
banana
camel
['camel']
['apple', 'banana']
['banana', 'camel']
['apple', 'banana']
['dog', 'fish', 'cat']