<a href="https://colab.research.google.com/github/shashankkanthula/Python-basics/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Data Types")

Data Types

In [18]:
num1=1
print(type(num1))
num2=2.0
print(type(num2))
num3=" "
print(type(num3))
num1=[1,2,3]
print(type(num1))
num2=(1,2,3)
print(type(num2))
num3={1,2,3}
print(type(num3))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

Conversions

In [6]:
a=1
b=2.98
c=5j

print(type(a))
print(type(b))
print(type(c))

x=float(a)
y=int(b)
z=complex(a)

print((x))
print((y))
print((z))

<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2
(1+0j)

Dictionary

In [17]:
dict={1:"one",2:"two",3:"three"}
print(type(dict))
print(dict[1])
print(dict.get(2))
print(dict.keys())
print(dict.values())
print(dict.items())

<class 'dict'>
one
two
dict_keys([1, 2, 3])
dict_values(['one', 'two', 'three'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

Operators
  Arithmetic

In [20]:
num1=5
num2=10
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1%num2)
print(num1**num2)
print(num1//num2)

15
-5
50
0.5
5
9765625
0

Assignment Operators

In [21]:
num1=10
print(num1)
num1+=5
print(num1)
num1-=5
print(num1)
num1*=5
print(num1)
num1/=5
print(num1)
num1%=5
print(num1)

10
15
10
50
10.0
0.0

Comparison Operator

In [25]:
num1=5
num2=8
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)

False
True
False
True
False
True

Logical

In [30]:
num1=10
print(num1>20 and num1>5)
print(num1>20 or num1>5)
print(not(num1>8 and num1>5))

False
True
False

Identity

In [31]:
a=["apple","banana"]
b=["apple","banana"]
c=a
print(a is c)
print(a is b)
print(a==b)

True
False
True

Bitwise

In [32]:
num1=10
num2=4
print(num1&num2)
print(num1|num2)
print(num1^num2)
print(~num2)
print(num1<<2)
print(num1>>2)

0
14
14
-5
40
2

***Strings***

In [35]:
print('bablu')
print("bablu")
print("""bablu""")

a="String bablu"
print(a)

b="""myself shashank,
from st martins"""
print(b)

bablu
bablu
bablu
String bablu
myself shashank,
from st martins